{% extends 'base.html.twig' %}

{% block title %}{{ 'template.index.title' | trans }}{% endblock %}

{% block body %}    
    <div class="row mb-1">        
        <div class="col-12 text-center ">            
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item{% if not roundWasAdded %} active{% endif %}">
                        <h2 class="mb-4">{{ 'template.index.total.title' | trans }}</h2>                    
                        <div id="piechart"></div>
                        <p class="h3 mt-4">{{ 'template.index.total.stats' | trans({'%strongStart%': '<strong>', '%strongEnd%': '</strong>', '%numberOfRounds%': numberOfRounds, '%currentAmount%': statistics['current_amount']}) | raw }}</p>
                        <p>{{ 'template.index.total.target' | trans({'%strongStart%': '<strong>', '%strongEnd%': '</strong>', '%targetAmount%': statistics['target_amount']}) | raw }}</p>                        
                        <p><a href="{{ path('index') }}" class="btn btn-success btn-lg">{{ 'template.index.total.refresh' | trans }}</a>
                    </div>                    
                    {% if is_granted('ROLE_USER') %}
                        <div class="carousel-item{% if roundWasAdded %} active{% endif %}">
                            <h2>{{ 'template.index.personal.title' | trans }}</h2>
                            <p class="h3 mt-4 mb-4">{{ 'template.index.personal.stats' | trans({'%lineBreak%': '<br />', '%strongStart%': '<strong>', '%strongEnd%': '</strong>', '%numberOfRounds%': myRounds, '%currentAmount%': myCurrentAmount}) | raw }}</p>                            
                            <form action="{{ path('add_round') }}" method="post" class="mb-1">
                                <button type="submit" class="btn btn-success btn-lg">{{ 'template.index.personal.addRound' | trans }}</button>
                                <input type="hidden" name="token" value="{{ csrf_token('add-round') }}"/>
                            </form>
                            <p><a href="{{ path('user_settings') }}" class="btn btn-secondary">{{ 'template.index.personal.settings' | trans }}</a></p>                                
                        </div>                        
                    {% endif %}
                </div>
                {% if is_granted('ROLE_USER') %}
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>                
                {% endif %}
            </div>
        </div>
    </div> 
    {% if not is_granted('ROLE_USER') %}
        <div class="row mb-1">
            <div class="col-12 text-center">                
                <p>Damit du deine gelaufenen Runden eintragen kannst, musst du dich einfach kurz einloggen:</p>
                <p><a href="{{ path('login_index') }}" class="btn btn-secondary btn-lg">Jetzt einloggen</a>
            </div>
        </div>
    {% endif %}
    <div class="row mb-4">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function () {
            var data = new google.visualization.DataTable();
            data.addColumn({type:'string', role:'tooltip'});                                
            data.addColumn('number', 'KSh')                                
            data.addRows([                                    
                ['{{ 'template.index.total.chart.currentAmount' | trans({'%currentAmount%': statistics['current_amount']}) }}', {{ statistics['current_amount'] }}],
                ['{{ 'template.index.total.chart.missingAmount' | trans({'%missingAmount%': statistics['missing_amount']}) }}', {{ statistics['missing_amount'] }}]
            ]);

            var options = {
                legend: {position: 'none'},
                chartArea: {width:'100%',height:'100%'},
                slices: {0: {color: '#7cad31'}, 1: {color: 'lightgrey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);                                            
        });
    </script>
{% endblock %}