{% extends 'base.html.twig' %}

{% block title %}{{ 'template.login.title' | trans }}{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">
            <h2>{{ 'template.login.title' | trans }}</h2>
            {% for message in app.flashes('info') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <p>{{ 'template.login.text' | trans({'%italicStart%': '<span class="font-italic font-weight-bold">', '%italicEnd%': '</span>'}) | raw }}</p>
            <form method="post" action="{{ path("login_email") }}">
                <div class="form-group">
                    <label for="emailField">{{ 'template.login.emailLabel' | trans }}</label>
                    <input type="email" name="email" id="emailField" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">{{ 'template.login.buttonLabel' | trans }}</button>
                    <input type="hidden" name="token" value="{{ csrf_token('login-email') }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
